
body{
    background-color: #fff;
}
header {
    
}

header > div  {
    display: flex;
    width:40%;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
 
   

}
header ul{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

header ul li a {
    color:#24292e;
    font-size: 18px;
}

.top-boxes {
    width: 100%;
    height: 300px;
    
}

.top-boxes > div{
    max-width: 1000px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}
.box-1{
    
}
.about-me{
    max-width: 1000px;
    height: 100%;
    width: 100%;
    margin: 0 auto;    
    display: flex;
    flex-direction: column;
}

.activity {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: right;
}
.activity img {
    width: 50%;
    float: right;
    margin-right: auto;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 22px;
}
h3  {
    font-size: 16px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}